html {
  font-family: Arial, Helvetica, sans-serif;
}

.content--primary {
  background-color: lightgray;
  overflow: auto;
  color: #010202;
}

.content--secondary {
  overflow: auto;
}
.main--contents {
  width: 50%;
  display: inline-block;
}

.sub--contents {
  width: 40%;
  display: inline-block;
}

.side--contents {
  float: right;
  width: 40%;
  overflow: auto;
  display: inline-block;
}
.container--s {
  overflow: auto;
  display: block;
}

.side--contents img {
  width: 35%;
  height: auto;
  padding: 16px;
  float: left;
}

.side--contents h4,
p,
a {
  margin: 8px auto;
}

.main--contents img {
  width: 80%;
  padding: 32px 24px;
}

.courses {
  display: flex;
  padding: 32px 72px;
  background-color: lightgray;
}

.course-banner {
  width: ;
}
